body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather',serif;
    color:#ffffff;
    background-color: #000000;
}
.profile{
    height: 256px;
    width:auto;
}


h1{
    margin: 3.125rem auto 0 auto;
    font-family:'Sacramento',cursive;
    font-size:5.625rem;
    color:#66BFBF;
}

h2
{
    font-family: 'Montserrat',sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color:#66BFBF;
    padding-bottom: 0.625rem;
}

h3
{
    font-family: 'Montserrat',sans-serif;
    color:#11999E;
    font-size: 1.25rem;
}

a{
    color:#62E9EE;
    font-size: 100%;
    font-family: 'Montserrat',sans-serif;
    margin:0.625rem 1.25rem;
    text-decoration: none;
}

a:hover{
    color:#EAF6F6;
}

span{
    text-decoration:underline;
}

.intro{
    width:40%;
    margin:0 auto;
}

p{
    line-height: 2;
    color: #ffffff;
}

hr{
    border: dotted #ededed 6px;
    border-bottom: 0;
    width:4%;
    margin:6.25rem auto; 
}

.bottom-container{
    margin-top:6.25rem;
    background-color: #358080;
    padding:3.125rem 0 1.25rem;
}

.skills{
    padding-bottom: 0px;
}

.skill-row{
    width:50%;
    margin:3.125rem auto;
    text-align:left;
}
.course-row{
    width:50%;
    margin:3.125rem auto;
    text-align:left;
    margin-top: 0;
}
.skill1-image{
    width:15%;
    float:left;
    margin-right: 1.875rem;
    padding-right: 0;
    border-radius: 3.75rem;
}

.skill2-image{
    width:15%;
    float:right;
    margin-right: 4.125rem;
    border-radius: 3.75rem;

}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 0.5rem;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 0.625rem 1.25rem;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .copyright{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding:1.25rem 0;
  }

  li{
    line-height: 2;
    margin-left: 7.5rem;
    color: white;
  }

  .li1{
    line-height: 2;
    margin-left: 0;
  }

  .li2{
    line-height: 2;
    margin-left: 200px;
  }

.h31{
    line-height: 2;
    margin-left: 7.2rem;
}

.h32{
    line-height: 2;
    margin:auto 7.2rem auto 0;
}

.ul1{
    line-height: 2;
    padding-left: 1.25rem;
  }
